global !p
def gen_header(snip):
	placeholders_string = snip.buffer[snip.line].strip()
	level = int(placeholders_string[0])

	# erase current line
	snip.buffer[snip.line] = ""
	line_content = "#"*level + " ${1:Section Name}"
	line_content += '\n$0'

	snip.expand_anon(line_content)
endglobal

snippet "(k1|kbd)" "HTML <kbd> tag for one key (type k1 or kbd)" rw
<kbd>${1:KEY}</kbd>$0
endsnippet

snippet k2 "Two keys joined by + as <kbd> tags"
<kbd>${1:KEY}</kbd> + <kbd>${2:KEY}</kbd>
endsnippet

snippet k3 "Three keys joined by + as <kbd> tags"
<kbd>${1:KEY}</kbd> + <kbd>${2:KEY}</kbd> + <kbd>${3:KEY}</kbd>
endsnippet

snippet meta "YAML front matter with title, current date and time, tags and categories (start of line)" b
---
title: "${1:title}"
date: `!p from datetime import datetime
if not snip.c:
	snip.rv=datetime.now().astimezone().strftime("%Y-%m-%d %H:%M:%S%z")`
tags: [${2:tag1, tag2}]
categories: [${3:category}]
---
$0
endsnippet

snippet more "Blog read-more marker <!--more-->"
<!--more-->
endsnippet

snippet img "Centered image with a width in pixels, written as HTML (overrides the vim-snippets img)"
<p align="center">
<img src="${1:URL}" width="${2:800}">
</p>
$0
endsnippet

snippet font "HTML font tag with a color (obsolete in HTML5)"
<font color="${1:blue}">${2:TEXT}</font>
endsnippet

snippet link "Markdown link [text](url) (overrides the vim-snippets link)"
[${1:text}](${2:url})$0
endsnippet

snippet rlink "Markdown reference link [text][label]"
[${1:link_text}][${2:label}]
endsnippet

post_jump "gen_header(snip)"
snippet "h([1-6])" "Heading of level 1 to 6: type h1 ... h6 at the start of a line" br
`!p snip.rv = match.group(1)`
endsnippet

snippet detail "Collapsible details block with a clickable summary (start of line; overrides the vim-snippets detail)" b
<details>
<summary><font size="2" color="red">${1:Click to show the code.}</font></summary>

${2:content}
</details>
endsnippet

snippet yh "Corner brackets for quoting (CJK style)" w
「$1」
endsnippet

snippet info "Info message box (embeds its own style block; needs network for the Font Awesome 4.2.0 icons from a remote CDN)"
<style type="text/css">
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.info-msg {
	color: #059;
	background-color: #BEF;
	margin: 5px 0;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid transparent;
	border-color: transparent;
}
</style>

<div class="info-msg">
	<i class="fa fa-info-circle"> Info</i><br>
	${1:info text}
</div>
$0
endsnippet

snippet warn "Warning message box (embeds its own style block; needs network for the Font Awesome 4.2.0 icons from a remote CDN)"
<style type="text/css">
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.warning-msg {
	color: #9F6000;
	background-color: #FEEFB3;
	margin: 5px 0;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid transparent;
	border-color: transparent;
}
</style>

<div class="warning-msg">
	<i class="fa fa-warning"> Warning</i><br>
	${1:warning text}
</div>
$0
endsnippet

snippet error "Error message box (embeds its own style block; needs network for the Font Awesome 4.2.0 icons from a remote CDN)"
<style type="text/css">
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.error-msg {
	color: #D8000C;
	background-color: #FFBABA;
	margin: 5px 0;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid transparent;
	border-color: transparent;
}
</style>

<div class="error-msg">
	<i class="fa fa-times-circle"> Error</i><br>
	${1:error text}
</div>
$0
endsnippet

snippet success "Success message box (embeds its own style block; needs network for the Font Awesome 4.2.0 icons from a remote CDN)"
<style type="text/css">
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.success-msg {
	color: #270;
	background-color: #DFF2BF;
	margin: 5px 0;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid transparent;
	border-color: transparent;
}
</style>

<div class="success-msg">
	<i class="fa fa-check"> Success</i><br>
	${1:success text}
</div>
$0
endsnippet

snippet td "tl;dr line (start of line)" bw
tl;dr: ${1:summary}
endsnippet
